.container{
    border: 1px solid rgb(200, 196, 196);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: 58vh;
    border-radius:15px;
    padding: 1rem;
}

.convert_title{
    display: flex;
    justify-content: center;
    align-items:center ;
    /* border: 2px solid red; */
    border-bottom: 1px solid #80558C;
    width: 80%;
   margin-bottom: 1rem;
}

.convert_head{
    font-size: 2.5rem;
    font-weight: 700;
    color: #80558C;
}

.convert_display{
    /* border: 2px solid red; */
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.convert_para{
    font-size: 1.8rem;
    color: #645CAA;
}

.convert_date{
    font-size: 1.4rem;
    font-weight: 700;
    color: #80558C;
}

.convert_content{
    /* border: 2px solid red; */
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.convert_input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
   font-size: 1.5rem;
   width: 20%;
}

select{
    font-size: 1.3rem;
    border-radius: 50px;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    width: 20%;
    color: #80558C;
    cursor: pointer;
}

 select > option{
    font-size: 1rem;
    

 }

 .convert_arrows{
    cursor: pointer;
 }

.convert_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 1rem auto;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #8c85c5;;
    color: white;
    transition: all 0.3s ease-in-out; 
}

.convert_btn:hover{
    cursor: pointer;
    background-color: #80558C;
}